.general_info .ant-timeline-item {
    padding: 0 !important;
}

.general_info .ant-timeline-item-head {
    top: 30px;
    background-color: #2D6ADB !important;
    border-color: #2D6ADB !important;
}

.general_info .ant-timeline-item-last .ant-timeline-item-head {
    top: 15px;
    background-color: #D0D5DD !important;
    border-color: #D0D5DD !important;
}

.general_info .ant-timeline-item-tail {
    top: 40px !important;
    height: calc(100% - 20px) !important;
}

.general_info .event_hall_card{
    display: grid;
    margin: 1rem 0 ;
    grid-template-columns: 245px 1fr;
    gap: 24px;
}

.general_info .event_hall_card img{
    width: 245px;
    height: 245px;
    border-radius: 24px;
    object-fit: cover;
}
