.employee_info {
  --container-padding: 2rem;
  background-color: #fff;
  box-shadow: 0px 0px 14px #0000000a;
  margin: 12px 45px;
  border-radius: 12px;
  padding-bottom: 1.5rem;
}

.employee_info_content {
  padding: 0 var(--container-padding);
}

/* nav */
.employee_info_nav {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 1rem;
}

.employee_info_nav .employee_nav_link {
  padding: 0.75rem;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.employee_info_nav .employee_nav_link.active::after {
  content: "";
  height: 2px;
  background: transparent linear-gradient(269deg, #3a5ee3 0%, #8fcaf3 100%) 0%
    0% no-repeat padding-box;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
}

@media only screen and (max-width: 992px) {
  .employee_info {
    --container-padding: 0.5rem;
  }
}
