.ant-collapse-content-box,
.ant-collapse-header {
    padding: unset !important;
}

.ant-collapse-content-box {
    padding-top: 1rem !important;
}

.agenda_description .ql-editor {
    height: 220px;
}