.calls-meetings-add .image-text-holder {
  padding: 8px 12px !important;
  box-shadow: 0px 3px 8px #00000014;
}

.calls-meetings-add .ant-form-item {
  margin-bottom: 12px;
}

.calls-meetings-add .explore-card {
  aspect-ratio: 1.618;
  min-width: 200px;
}

.calls-meetings-add .image-holder {
  height: 100%;
}

.calls-meetings-add .image-holder img {
  transition: transform 400ms;
}

.calls-meetings-add .image-holder .ant-image {
  overflow: hidden;
}

.calls-meetings-add .image-holder img:hover {
  transform: scale(1.2);
}

.calls-meetings-add .rows-verses {
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 15px;
}

.calls-meetings-add .shadow {
  box-shadow: 0px 3px 8px #00000014;
}

.calls-meetings-add .Search {
  justify-content: space-between;
  align-items: center;
}

.calls-meetings-add .border-blue {
  border: 2px solid #3a5ee3;
}

.calls-meetings-add .make-row .ant-form-item-row {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 64px;
}

.calls-meetings-add .make-row .ant-form-item-label {
  padding: 0;
}

.dropdown-items-meet.more-btn-meet {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
