.event_halls .event_hall_card {
    display: grid;
    padding: 1rem;
    grid-template-columns: clamp(150px, 15vw, 245px) 1fr;
    gap: 24px;
    border-radius: 24px;
    height: 100%;
    border: 1px solid var(--gray-200);
}

.event_halls .event_hall_card img {
    width: clamp(150px, 15vw, 245px);
    height: clamp(150px, 15vw, 245px);
    border-radius: 24px;
    object-fit: cover;
}