.days-section {
    overflow: hidden;
    width: 100%;
}

.days-section > .days-section-days-container{
    overflow-x: auto !important;
}

.destinations_container {
    display: flex;
    gap: 0px;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
}

.destinations_container > div {
    flex-shrink: 0;
}

.days-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
}

.days-container>* {
    flex: 0 0 auto;
    /* Prevents shrinking */
    min-width: 200px;
    /* Adjust based on your design */
}