.basic-info-upload-icon {
  background: #272942;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 8px;
}

.basic-info-upload-wraper {
  position: relative;
}

.basic-info-upload-wraper .ant-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basic-info-upload-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #eee;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
