.color-create-item-form {
  display: flex;
  align-items: center;
  gap: 15px;
}

.color-create-item-form .color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 66px;
  height: 24px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}
.color-create-item-form .color-picker::-webkit-color-swatch {
  border-radius: 3px;
  border: none;
}
.piplines-cart-form .color-picker::-moz-color-swatch {
  border-radius: 3px;
  border: none;
}
.piplines-cart-form .buttons button {
  padding: 7px 14px;
  margin-right: 0px !important;
}
.buttons-create-item {
  position: absolute;
  right: 40px;
  bottom: 20px;
}
