.engagement_templates_list .ant-collapse-header,
.engagement_templates_list .ant-collapse-content-box {
    padding-inline-start: 0 !important;
    padding-inline-end: 0 !important;
}

.engagement_templates_list .ant-collapse-header{
    padding-top: 0 !important;
}

.engagement_templates_list .ant-collapse-content-box {
    padding-top: 0 !important;
}