.agencies_page {
  padding: 0 5px;
}

.agencies_page .ant-picker-input {
  flex-direction: row-reverse;
  gap: 4px;
}

.agencies_page .select-with-prefix {
  display: flex;
  align-items: center;
  position: relative;
}

.agencies_page .select-prefix-icon {
  margin-right: 8px;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 12px;
  z-index: 999;
  transform: translateY(-50%);
}

.agencies_page .custom-select {
  width: 100%;
}

.company_name_cell {
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: grid;
  align-items: center;
  grid-template-columns: 40px 200px;
  gap: 8px;
}

.agencies_page .ant-select-selection-placeholder,
.agencies_page .ant-select-selection-item,
.agencies_page.ant-select-selection-search input {
  text-indent: 24px !important;
}

.agencies_info_line_with_icon {
  display: grid;
  grid-template-columns: 12px 1fr !important;
  align-items: center !important;
  gap: 8px !important;
}

.agencies_info_line_with_icon svg {
  width: 12px !important;
  height: 12px !important;
}

.agencies-page-tab .ant-tabs-nav-list {
  width: 100%;
  gap: 16px;
}
.agencies-page-tab .ant-tabs-ink-bar {
  display: none !important;
}
.agencies-page-tab .ant-tabs-nav::before {
  border: none !important;
}
.agencies-page-tab .ant-tabs-nav-list .ant-tabs-tab {
  border: 1px solid #efeff1;
  border-radius: 8px;
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0;
}
.agencies-page-tab .ant-tabs-nav-list .ant-tabs-tab[data-node-key="NEWREQUESTE"] {
  position: relative;
  margin-left: 12px;
}
.agencies-page-tab .ant-tabs-nav-list .ant-tabs-tab[data-node-key="NEWREQUESTE"]::after {
  content: "";
  position: absolute;
  width: 1px;
  left: -15px;
  height: 100%;
  cursor: auto;
  background: #efeff1;
}
.agencies-page-tab .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active {
  border: 1px solid #b9cdf3;
  background-color: #d0def7;
  color: #2d6adb;
  font-weight: 500;
}
.agencies-page-tab .ant-tabs-nav-list .ant-tabs-tab.ant-tabs-tab-active .bades sup {
  background: #fff !important;
  color: #2d6adb;
  border: none;
}
