.day_calender {
    --minute: 1px;
    position: relative;
    /* max-height: calc(var(--minute) * 60 * 12); */
    overflow-y: auto;
    padding-inline-end: 3px;
}

.day_calender .day_hour {
    height: calc(var(--minute) * 60);
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: flex-start;
}

.day_calender .session_card {
    position: absolute;
    background-color: #272942;
    color: #fff;
    transition: 0.3s all ease-in-out;
    border-radius: 8px;
}

.day_calender .session_card:has(.short-duration) {
    padding: 0 0.5rem !important;
}

.day_calender .long-duration {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem !important;
    height: 100%;
}

.day_calender .long-duration.hasConflict {
    align-items: center;
    padding: 0.5rem 0;
}

.day_calender .session_card:hover {
    background-color: #0c0d1c;
}

/* .start_time{
    align-self: flex-start;
} */