.destination_card {
    display: grid;
    grid-template-columns: 16px 1fr 16px;
    align-items: center;
}

.destination_card.last_card {
    grid-template-columns: 16px 1fr;
}

.destination_card.first_card {
    grid-template-columns: 1fr 16px;
}

.destination_card_content {
    height: 40px !important;
    background-color: #fff;
    border-top: 1px solid var(--gray-200);
    border-bottom: 1px solid var(--gray-200);
    padding: 8px 12px;
}

.destination_card.last_card .destination_card_content {
    border-inline-end: 1px solid var(--gray-200);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    width: 100% !important;
}

.destination_card.first_card .destination_card_content {
    grid-template-columns: 1fr 16px;
    border-inline-start: 1px solid var(--gray-200);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 8px 12px 8px 14px;

}

.destination_card .card_shape_end {
    position: relative;
}

.destination_card .card_shape_end::before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 38px;
    top: 1px;
    left: 0;
    background-color: #fff;
}

.destination_card .card_shape_start {
    transform: translateX(2px);
    position: relative;
}

.destination_card .card_shape_start::before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 38px;
    top: 1px;
    left: 13px;
    background-color: #fff;
}


.destination_card .destination_card_content {
    padding: 8px;
}

.only_one_destination_card .destination_card_content    {
    border-radius: 8px;
    border:1px solid var(--gray-200);;
}