.map_drawer {
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    position: relative;
}

.map_drawer .ant-drawer-header {
    display: none !important;
}

.map_drawer .ant-drawer-body {
    padding: 0;
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}

.map_drawer .close_map_btn {
    position: absolute;
    top: 10px;
    inset-inline-start: 10px;
    z-index: 999;
    width: 30px !important;
    height: 30px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #444CE7;
    border: unset;
    outline: unset;
    cursor: pointer;
}
